body{
    white-space: nowrap;
    font-family: 'Baloo 2', system-ui, sans-serif;
    margin: 1em;
    background-color:  #8e95f4;

}

button {
    background-color: #FFFFFF;
    color: #000034;
    border: 3px solid #2B2EFF; 
    border-radius: 3dpx;
}

main {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

h1 {
   text-align: center; 
   margin: 1rem;
   color: #000034;
}

#puzzle-holder {
    background-color: white;
    border: 10px solid #2B2EFF; 
    padding: 0;  
}

#game-options {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

textarea {
  width: 35px;  
  height: 35px; 
  box-sizing: border-box; 
  resize: none; 
  overflow: hidden;
  font-size: 20px;
  max-height: 35px;
  max-width: 35px;
}

.cell {
    position: relative; 
    display: inline-block;
    border-color: black;
}

.label {
    position: absolute;
    left: 3px;
    top: 2px;             
    font-size: 10px;
}

.blackout {
    background-color: black;
}

#hint-holder {
    margin-left: 3rem;
    margin-top: -1rem;
    color: #000034;
    vertical-align: top;

}

.correct {
    background-color: #CEFFAB;
}

.incorrect {
    background-color: #FFB7AB;
}

#check-answers, #show-key {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

#game-options button {
    width: 110%;
    margin: 1em;
}

#game-options {
    display: flex;
    flex-direction: row;
}

